.cards-wrapper{
  display: flex;
  justify-content: center;
}

.cards{
  display: flex;
  width: 90%;
  justify-content: center;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

.cards > ul > li {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  width: 205px;
  height: 267px;
}

.cards .cards-card-body {
  margin: 16px;
  text-align: center;
}

.cards .cards-card-body p strong{
  background-color: white;
  z-index: 999;
  position: relative;
  border-radius: 10px;
  padding-top: 6px;
}

.cards .cards-card-image {  
  line-height: 0;
  margin: 16px;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.cards > ul > li img:hover {
  transform: scale(1.24);
  transition-duration: 0.3s;
  transition-property: transform;
}

@media (max-width: 900px) {
  .cards > ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .cards > ul > li {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 167px;
  }

  .cards .cards-card-body p{
    margin: 0;
    line-height: normal;
  }
  .cards .cards-card-body p strong{
    font-size: 12px;
  }

  .cards .cards-card-image { 
    margin: 4px;
  }

  .cards > ul > li img:hover {
    transform: none;
  }
}