.categories-wrapper{
  display: flex;
  justify-content: center;
}

.categories{
  width: 100%;
  justify-content: center;
  display: flex;
}

.categories > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px; /* Adjust the gap between grid items as needed */
}

.categories > ul > li {
  width: 100%;
}

.categories .categories-category-body {
  margin: 16px;
  text-align: center;
}

.categories .categories-category-body p strong{
  padding-top: 6px;
}

.categories > ul > li img {  
  border-radius: 20px 20px 20px 20px;
  margin: 16px;
  width: 214px;
  height: 214px;
}


@media (max-width: 900px) {
  .categories > ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5px; /* Adjust the gap between grid items as needed */
    justify-content: center;
  }
}