.products__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -7px;
  list-style: none;
}

.products__product-item {
  border: 1px solid aliceblue;
}

.products___product-manufacturer {
  color: #757575 !important;
  font-weight: 600 !important;
}

.products__product-body {
  display: grid;
  justify-items: center;
}

.products___product-title {
  font-weight: 500;
  line-height: 1.8em;
  font-size: 1em;
  padding: 0;
  height: 1.5em;
  line-height: 1.5em;
  overflow: hidden;
  display: block;
  margin-bottom: 6px;
  margin-top: 0;
}

.products___product-title a {
  color: #333333;
}

.products__product-image {
  max-width: 320px;
  height: 375px;
  padding-bottom: .375rem;
  display: flex;
  align-items: center;
}